@font-face {
  font-family:  neonderthaw;
  src:  url('/public/fonts/neonderthaw/neonderthaw-regular.ttf');
}

body {
  background-color:  #111;
}

h1 {
  color: #ddd;
  font-family:  neonderthaw;
  text-align: center;
  font-size:  40px;
}

h1.highlight {
  color:  #fff;
  text-shadow: 5x 5px #fff;
}

hr {
  color:  #ddd;
  border-width: 1px;
  position:  absolute;
  top: 60vh;
  left: -2px;
}

hr.bringInTheLine {
  animation-name:  bringInTheLine;
  animation-duration: 3s;
  width: 100%;
}

@keyframes bringInTheLine {
  0% {
    width: 0;
  }
  20%{
    width: 25%;
  }
  25% {
    width: 27%;
  }
  30% {
    width: 30%;
  }
  35% {
    width: 30%;
  }
  40% {
    width: 30%;
  }
  45% {
    width: 33%;
  }
  50% {
    width: 36%;
  }
  100% {
    width: 100%;
  }
}
